.footer-wrapper {
  background: #343434;
  color: #868686;
  font-size: 14px;
  padding: 26px 0;
  text-align: center;

  @media (min-width: $bp-small) {
    text-align: left;
  }

  .left-part {
    margin-bottom: 10px;

    @media (min-width: $bp-small) {
      float: left;
      margin-bottom: 0;
    }
  }

  .right-part {

    @media (min-width: $bp-small) {
      float: right;
    }
  }
}