@font-face {
  font-family: 'bitterbold';
  src: url('../fonts/bitter-bold-webfont.eot');
  src: url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bitter-bold-webfont.woff') format('woff'),
  url('../fonts/bitter-bold-webfont.ttf') format('truetype'),
  url('../fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akrobat-bold';
  src: url('../fonts/akrobat-bold.woff') format('woff'),
  url('../fonts/akrobat-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-light';
  src: url('../fonts/sourcesanspro-light.woff') format('woff'),
  url('../fonts/sourcesanspro-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-regular';
  src: url('../fonts/sourcesanspro-regular.woff') format('woff'),
  url('../fonts/sourcesanspro-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesanspro-semibold';
  src: url('../fonts/sourcesanspro-semibold.woff') format('woff'),
  url('../fonts/sourcesanspro-semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}