$icons: sprite-map('icons/*.png', $spacing: 8px, $layout: 'smart');
//$h-sprites: sprite-map('h-sprites/*.png',$layout: 'vertical', $spacing: 8px);
//$v-sprites: sprite-map('v-sprites/*.png', $layout: 'horizontal', $spacing: 8px);

$experimental-support-for-svg: true;
$experimental-support-for-opera: false;

//widths
$width-xsmall: 90%;
//xs < $bp-small
$bp-small: 768px;
$width-small: 710px;
//$bp-middle > sm >= $bp-small
$bp-middle: 992px;
$width-middle: 981px;
//$bp-large > md >= $bp-middle
$bp-large: 1250px;
$width-large: 1230px;

//offsets
$container-padding-left: 15px;
$container-padding-right: 15px;

$container-fluid-padding-left: 0;
$container-fluid-padding-right: 0;

$row-margin-left: -12px;
$row-margin-right: -12px;

$col-padding-left: 12px;
$col-padding-right: 12px;

//fonts

$sourcesanspro-light : 'sourcesanspro-light';
$sourcesanspro-regular: 'sourcesanspro-regular';
$sourcesanspro-semibold: 'sourcesanspro-semibold';
$akrobat-bold: 'akrobat-bold';
$akrobat-light: 'akrobat-light';
$akrobat-semibold: 'akrobat-semibold';